main {
  height: 70vh;
  background-color: gray;
}

section {
  height: 100%;
}

button {
  padding: 1rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 2rem;
  background-color: #212529;
}

.advertHero__container {
  height: 100%;
  width: 100vw;
  padding: 3rem;
  background-image: url(https://triathlonmagazine.ca/wp-content/uploads/2020/04/VentumZ_105_ENVE_Editorial_H-scaled.jpg;);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  align-items: center;
  height: 15vh;
  padding: 2rem;
  background-color: #212529;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  
  .main__child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .customer__wrapper {
    height: calc(100% / 4 * 1);
    // background-color: #59A96A;
    background-color: #000000;
  }
  .form__wrapper {
    height: calc(100% / 4 * 3);
  }
}
